* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  position: sticky;
  z-index: 30;
  top: 0;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5d8f8d;
  
}
.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
  padding: 24px 16px;
}
.nav__menu-bar div{
  width: 40px;
  height: 4px;
  
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}
.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #5d8f8d;
  color: #f1f1f1;

}

.nav__menu-list.active{
  right: 0;
}
.nav__link{
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
 
}

.nav__item:hover{
  color: #314b49;
 
}



.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .nav__menu-bar{
    display: none;
  }
  .nav__menu-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: 90%;   
     column-gap: 50px;
  }
  .nav__item{
    color: #f1f1f1;
   
  }
  .nav__item:hover{
    color: #314b49;
   
  }
  .logo{
    margin-left: 10px;
    color: #f1f1f1;

  }

}


/* ========================================================== cards =========================================================== */

.card {
  height: 350px;
  border-radius: 10px;
  margin: 20px;
  background-color: rgba(210, 208, 206, 0.655);
}

.card:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.253);
}



.card-text {
  font-size: .9rem;
  padding:10px ;
}
.card-title{
  padding-top: 20px;
margin-top: 30px;
}

.container-fluid .row {
  padding-top: 4rem;
}


.overflow {
  overflow: hidden;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}

.card:hover {
  transform: scale(1.1);
}

.lire{
  flex-direction: row;
}
.cards-img{
  justify-self: center;
  width: 200px;
}
.cards-img1{
  justify-self: center;
  padding-top: 20px;
  width: 100px;
}
.cards-img3{
  justify-self: center;
  padding-top: 20px;
  width: 100px;
}
.cards-img2{
  justify-self: center;
  padding-top: 20px;
  width: 100px;
}
.service-button{
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: max-content;
  margin-bottom: 40px;
  background-color: #09A79D;
  color: #ffffff;
  border: 1px solid #09A79D;
  box-shadow: #adabab;
}
.service-button:hover{
  transform: scale(1.1);
  background-color: #d8d21f;
  border: 1px solid #d8d21f;

  box-shadow: 1px 1px 1px 1px #adabab;
}
/*================================== proj ============================= */



.proj {
  margin-bottom: 40px;
  height: max-content;
  border-radius: 10px;
  background-color: rgba(210, 208, 206, 0.655);
}

.proj:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.253);
}





.proj-title{
  font-weight: bold;
  padding-left: 30px;
  padding-top: 5px;
margin-top: 30px;
font-size:xx-large
}

.container-fluid .row {
  padding-top: 4rem;
}


.overflow {
  overflow: hidden;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}

.card:hover {
  transform: scale(1.1);
}

.lire{
  flex-direction: row;
}
.cards-blog1{
max-width: 100%;
max-height: 100%;
padding-bottom: 30px;
}


/*============================ footer =============================*/

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #ffffff;
  padding: 70px 0;
  box-shadow:  3px 3px 3px 3px  black;

}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #09A79D;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #efde25;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #adabab;
  text-decoration: none;
  font-weight: 300;
  color: #827e7e;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #232121;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
 padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #232121;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #1a2b57;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
.img-footer{
  padding-bottom: 10px;
}